<div id="prijava">
    <mat-card>
        <mat-card-header>
            <img height="100" src="/assets/slike/Filmoteka.png" alt="Logo2"/>
        </mat-card-header>
        
        <mat-card-content>
            <form action="/prijava" method="POST">
                <mat-form-field appearance="outline">
                    <mat-label for="korime">Korisničko ime</mat-label>
                    <input matInput class="form-control w-100 border-dark" type="text" name="korime" id="korime" required/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="lozinka">Lozinka</mat-label>
                    <input matInput class="form-control w-100 border-dark" type="password" name="lozinka" id="lozinka" required/>
                </mat-form-field>
                
                <button mat-raised-button color="primary" type="submit" class="btn w-50 bg-primary text-white mt-5">
                    Prijavi se
                </button>
                
            </form>
        </mat-card-content>
    </mat-card>
</div>