#postavi-sliku {
    display: flex;
    justify-content: center;

    mat-card {
        display: flex;
        margin: 3vh;
        padding-left: 7vh;
        padding-right: 7vh;
        padding-bottom: 3vh;
        width: fit-content;
    
        mat-card-header {
            justify-content: center;
        }
    
        mat-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                select {
                    border-color: lightgray;
                    border-radius: 2%;
                    border-width: 0.5%;
                    width: 22vh;
                    padding: 1vh;
                    font-size: large;
                    background-color: white;
                    color: black;
                    margin: 2vh;
                }
    
                #gumb-upload {
                    padding: 0vh;
                    margin: 1vh;
                    width: fit-content;

                    #label-slika {
                        display: flex;
                        justify-content: center;                        
                        width: 20vh;
                        height: 100%;
                        padding: 1vh;
                        border-radius: 2%;
                    }
                }

                button {
                    height: fit-content;
                }

                #objavi {
                    padding: 1vh;
                    width: 22vh;
                }
            }
        }
    }
}