<div id="dokumentacija">
    <div id="autor_era">
        <div class="element-dokumentacije">
            <h2>O autoru</h2>
            <img src="/assets/slike/Dario.jpg" width="220" class="mx-auto d-block rounded" alt="Dario">
            <ul class="m-2">
                <li>Dario</li>
                <li>Ljubas</li>
                <li><a href="mailto: dljubas20@student.foi.hr">dljubas20@student.foi.hr</a></li>
            </ul>
        </div>
        <div class="justify-content-center element-dokumentacije">
            <h2>ERA model</h2>
            <div>
                <a target="_blank" href="/assets/slike/dljubas20 ERA Model.png"><img src="/assets/slike/dljubas20 ERA Model.png" width="300" class="mx-auto d-block rounded" alt="ERA model"></a>
            </div>
        </div>
    </div>
</div>