* {
    font-size: large;
}

#film {
    margin: 5vh;

    mat-card {
        padding: 2vh;

        mat-card-header {
            mat-card-title {
                font-size: xx-large;
                margin-bottom: 1vh;
            }
        }
        
        mat-card-content {
            display: flex;
            flex-direction: column;
            width: 100%;

            #slike {
                display: flex;
                flex-direction: row;
                margin-top: 2vh;
                margin-bottom: 2vh;

                img {
                    width: 25vh;
                    margin-right: 1vh;
                }

                #vidi-vise {
                    width: 25vh;
                    height: inherit;
                    background-color: #dadcde;
                    color: #212121;
                    text-decoration: none;
                    
                    display: flex;
                    justify-content: space-around;
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        
                        mat-icon {
                            padding: 2vh;
                            margin-right: 1vh;
                            font-size: xx-large;
                        }
                        
                        p {
                            margin-top: 0vh;
                            font-weight: normal;
                        }
                    }

                }
            }
            
            mat-divider {
                margin-right: 3vh;
            }
    
            mat-chip {
                margin-top: 2vh;
            }
            
            p {
                display: flex;
                flex-direction: row;
                align-items: center !important;
                align-content: center !important;
                
                mat-chip {
                    margin: 1vh;
                }

                b {
                    margin-right: 1vh;
                }

                mat-icon {
                    color:gold;
                    font-size: x-large;
                }
            }
        }
    }
}
