#prijedlozi-filmova {
    padding: 5vh;
    
    th {
        text-align: center;
    }

    td {
        text-align: center;
        
    }

    #gumbovi {
        #odobri {
            margin-right: 2vh;
        }

        #ponisti {
            margin-left: 2vh;
        }

        #odobreno {
            color: #3f51b5;
            font-weight: bolder;
        }

        #ponisteno {
            color: #f44336;
            font-weight: bolder;
        }
    }
}