#prijedlozi-filmova {
    padding: 5vh;
    
    th {
        text-align: center;
    }

    td {
        text-align: center;
        
    }

    #gumbovi {
        #odobri {
            margin-right: 2vh;
        }

        #ponisti {
            margin-left: 2vh;
        }
    }
}