/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #dadcde;
    min-height: 100%;
    height: fit-content;
    max-height: 1000vh;
    width: 100%;
    font-size: large;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}