<div id="zanrovi">
    <mat-card *ngFor="let zanr of filmovi">
        <mat-card-header>
            <mat-card-title>
                {{ zanr.zanr.naziv }}
            </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <mat-card class="filmovi" *ngFor="let film of zanr.filmovi">
                <mat-card-header>
                    <img src="/assets/slike/Dario.jpg">
                    <mat-card-title>
                        {{ film.naziv }}
                    </mat-card-title>
                </mat-card-header>
            
                <mat-card-content>
                    
                </mat-card-content>
            
                <mat-card-footer>
                    {{ film.sazetak }}
                </mat-card-footer>
            </mat-card>
            <div></div>
        </mat-card-content>
    </mat-card>
</div>