#zanrovi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    #ima-zanrova {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .zanrovi {
        width: 58vh;
    }
    
    mat-card {
        margin: 3vh;
        width: fit-content;
        
        mat-card-content {
            display: flex;
        }

        #obavijest {
            width: fit-content;
        }

        p {
            font-size: medium;
            width: 20vh;
        }
    }
}

mat-card-header {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;

    img {
        width: 17vh;
    }
}

.filmovi {
    background-color: #efefef;
}