#zanrovi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card {
    margin: 3vh;
    width: fit-content;
}

mat-card-content {
    display: flex;
}

mat-card-header {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;

    img {
        width: 25vh;
    }
}

.filmovi {
    background-color: #efefef;
}