<div id="pretrazivanje">
    <div id="opcije">
        <mat-card>
            <mat-form-field appearance="outline">
                <mat-label for="pretraga">
                    Traži...
                </mat-label>
                <input matInput id="pretraga" name="pretraga" (keyup)="pretrazi($event)" type="text">
            </mat-form-field>
        </mat-card>
        <mat-card>
            <mat-paginator #paginator
                       (page)="prebaciStranicu($event)"
                       [length]="ukupanBrojRezultata"
                       [pageSize]="20"
                       [showFirstLastButtons]="true"
                       [hidePageSize]="true"
                       [pageIndex]="stranica - 1"
                       [disabled]="false">
            </mat-paginator>
        </mat-card>
    </div>

    <mat-card *ngFor="let film of tmdbFilmovi">
        <div class="glavni-dio">
            <mat-card-header>
                <img [src]="posterPutanja + film.poster_path" alt="Poster">
            </mat-card-header>
            
            <mat-card-content>
                <h3>{{ film.title }}</h3>
                
                <p>{{ film.overview }}</p>
            </mat-card-content>
        </div>

        <mat-card-footer>
            <button mat-raised-button color="primary" *ngIf="!ubaceniId.includes(film.id); else filmUbacen" (click)="dodaj(film.id)">
                Dodaj u bazu
            </button>

            <ng-template #filmUbacen>
                <p>Film je u bazi.</p>
            </ng-template>
        </mat-card-footer>
    </mat-card>
</div>